## Resolvendo exercícios da lista de funcoes

#### sugestões de resolução

Exercícios de introdução:


Intro1) Crie uma lista com 3 números e printe essa lista.


Intro2) Printe cada número da lista separadamente usando for


Intro3) Copie a lista inicial e some ambas, criando a seguinte lista: [1, 2, 3, 1, 2, 3]


Intro4) Adicione a soma dos elementos da lista ao final da lista. Exemplo: [1, 2, 3] → [1, 2, 3, 6]
Use o for para realizar a soma


Intro5) Cheque quantos elementos da lista são maiores que 2. Exemplo: [1, 2, 4, 8] Resultado: 2

In [1]:
## intro 1)

List1 = [1 , 2 , 3]
print(List1)

[1, 2, 3]

In [2]:
## intro 2) 

'''Podemos usar list comprehension'''

List2 = [x for x in range(1,4)]
print(List2)

[1, 2, 3]

In [3]:
## intro 3) 

List = List1 + List2

print(List)

[1, 2, 3, 1, 2, 3]

In [4]:
### intro 4) 

''' Podemos fazer de varios jeitos, vou criar uma funcao que fará isso para qualquer lista'''

def sum_append(List: list) -> list:
    soma = sum(List)  #uso a funcao built-in para somar todos elementos
    List.append(soma) # uso a funcao append para adicionar como ultimo elemento a soma de todos os elementos
    return List

# exemplo: 

Lista_exemplo = [1,2,3]
sum_append(Lista_exemplo)

[1, 2, 3, 6]

In [5]:
## intro 4) usando for ao invés de sum

def sum_append_2(List: list) -> list:
    '''funcao que soma todos os elementos de uma lista e adiciona o valor da soma ao final da mesma
    '''

    soma = 0

    for number in List:
        soma += number
    
    List.append(soma)

    return List

## uso : 

sum_append_2([1,2,3])

[1, 2, 3, 6]

In [6]:
## intro 5) 

def count_2(List: list) -> int:
    '''Funcao que checa quantos elementos são maiores que 2'''
    # crio uma variavel auxiliar que funcionara como contador

    count = 0 

    for element in List:

        if element > 2:
            count+=1
        else:
            pass
    
    return count


Example_List = [1, 5 ,7 , 8 ,9 ,10 ,11 ,2 ,1 ,0 ]

count_2(Example_List)

6

## Exercícios de função:
ex 1) Crie uma função que tenha como saída a seguinte lista:

```python

new_list = [1, 2, 3, 4, 5]

```

In [8]:
## essa funcao  nao terá nenhum parametro como argumento

def Create_new_list() -> list:
    new_list = [x for x in range(1,6)] 
    return new_list

new_list = Create_new_list()
new_list

[1, 2, 3, 4, 5]

ex 2) Utilizando a função do ex 1, crie um dicionário que associa a lista do ex 1 com a seguinte
lista de números:

```python

new_numbers = [3, 8, 19, 20, 24]
```

A saída da função deve ser:

```python
dict_list_numbers = {1: 3, 2: 8, 3: 19, 4: 20, 5: 24}
```

In [12]:
## ex 2) 

'''Podemos associar duas listas utilizando o comando zip'''

new_list    = Create_new_list()
new_numbers = [3 , 8, 19, 20 , 24 ]

# Usando zip() para combinar as duas listas em pares (nome, idade)
pares             = zip(new_list, new_numbers)
dict_list_numbers = dict(pares)

print( dict_list_numbers )

{1: 3, 2: 8, 3: 19, 4: 20, 5: 24}

In [16]:
## ex 2) com dict comprehension

# Usando dict comprehension para criar o dicionário


dicionario = {key: value for key, value in zip(new_list, new_numbers)}

# Exibindo o dicionário resultante
print(dicionario)

{1: 3, 2: 8, 3: 19, 4: 20, 5: 24}

## Exercício 3

 Um fundo de investimento realiza análises anuais do número de operações feitas. Este
número é relevante para se ter noção dos gastos mensais com corretagem.
As seguintes quantidades de operações foram realizados nos 4 primeiros meses de 2023:

- Jan: Derivativos: 2.000, Ações: 1.500

- Fev: Derivativos: 1.800, Ações: 1.350


- Mar: Derivativos: 900, Ações: 2.700

- Abr: Derivativos: 1.000, Ações: 750


- Corretagem de Derivativos: R$ 0,01


- Corretagem de Ações: R$ 0.03


A cobrança de um tipo de operação ocorre apenas após 1000 operações.


Exemplo: Agosto: Derivativos: 700, Ações: 700. O custo deste mês será igual a 0.


Exemplo: Outubro: Derivativos: 1500, Ações: 800. Serão cobradas apenas as operações com
derivativos. O custo deste mês será igual a 15.


Crie uma função que calcula o custo total das operações em cada mês e as retorna em um
dicionário.


Exemplo de saída:

```
{Janeiro: 100, Fevereiro: 120, etc}
```

In [18]:
## criando funcao para calcular o custo total das operações para cada mês

'''vamos criar um dicionario que esteja contido no exemplo '''

dict_op = { 'Mês': ['Jan', 'Fev', 'Mar', 'Abr'] , 'Derivativos': [2000, 1800 , 900 , 1000] ,
            'Acoes': [1500, 1350, 2700, 750] }

Corr_acao = 0.03 #corretagem da acao
Corr_der  = 0.01 # corretagem do derivativo

# antes de gerar a funcao, justifico essa organizacao do dicionario montando um data frame

import pandas as pd

# Criando um DataFrame do Pandas1000	750
df_op = pd.DataFrame(dict_op)

# Exibindo o DataFrame
df_op

   Mês  Derivativos  Acoes
0  Jan         2000   1500
1  Fev         1800   1350
2  Mar          900   2700
3  Abr         1000    750

In [19]:
dict_op['Derivativos']

[2000, 1800, 900, 1000]

In [29]:
def Custo(Dict: dict) -> dict:

    Corr_acao = 0.03 #corretagem da acao
    Corr_der  = 0.01 # corretagem do derivativo

    lista_derivativos = Dict['Derivativos']
    lista_acoes       = Dict['Acoes']

    custo_op = [] #lista com o custo de operacao

    for qnt_derivativos, qnt_acoes in zip(lista_derivativos, lista_acoes):
        custo_der  = 0
        custo_acao = 0

        if qnt_derivativos > 1000:
            custo_der = Corr_der * qnt_derivativos
        
        if qnt_acoes > 1000: 
            custo_acao = Corr_acao * qnt_acoes

        custo_op.append( custo_acao + custo_der)
    
    mes_list = list(Dict['Mês'])

    new_dict = {key: value for key, value in zip(mes_list, custo_op)}

    return new_dict

## usando a funcao

Custos_mes = Custo(dict_op)

Custos_mes

{'Jan': 65.0, 'Fev': 58.5, 'Mar': 81.0, 'Abr': 0}

In [33]:
## convertendo o dicionario para um data_frame

df = pd.DataFrame(list(Custos_mes.items()), columns=['Mês', 'Valor da Operação'])

# Exibir o DataFrame
df

   Mês  Valor da Operação
0  Jan               65.0
1  Fev               58.5
2  Mar               81.0
3  Abr                0.0